<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>角色管理</title>
	<link href="../../component/pear/css/pear.css" rel="stylesheet" />
	<link rel="stylesheet" href="admin/css/admin.css">
	<style>
		/* 统一样式 */
		#role-business-table+.layui-table-view thead .layui-table-cell {
			display: table-cell;
			vertical-align: middle;
			background-color: #fff;
			/* MediumSeaGreen */
			color: #333;
			font-weight: bold;
			white-space: normal;
			line-height: 15px;
		}

		/* 针对第二个表头的定制 */
		#role-business-table+.layui-table-view thead th:nth-child(2) .layui-table-cell {
			background-color: #fff; /* 表头背景颜色 */
            color: #af2323 !important; /* 文字颜色 */
            font-size: 18px; /* 字体大小 */
            font-weight: bold; /* 字体加粗 */
            text-align: center; /* 文本居中 */
            height: 60px; /* 高度 */
            line-height: 1.2; /* 行高，保持文本居中 */
            white-space: nowrap; /* 防止换行 */
            overflow: hidden; /* 隐藏溢出的文本 */
            text-overflow: ellipsis; /* 显示省略号 */
            padding: 10px; /* 内边距 */
            /* CSS Grid Layout to handle multi-line clamping */
            display: grid;
            grid-template-rows: 1fr; /* 允许一个行的空间 */
            max-height: 1.2em; /* 最大高度以限制行数 */
		}
	</style>
</head>

<body class="pear-container">
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">用户名</label>
						<div class="layui-input-inline">
							<input type="text" name="realName" placeholder="" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">性别</label>
						<div class="layui-input-inline">
							<input type="text" name="realName" placeholder="" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="role-query">
							<i class="layui-icon layui-icon-search"></i>
							查询
						</button>
						<button type="reset" class="pear-btn pear-btn-md">
							<i class="layui-icon layui-icon-refresh"></i>
							重置
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="layui-card">
		<div class="layui-card-body">
			<table id="role-business-table" lay-filter="role-business-table"></table>
		</div>
	</div>

	<script type="text/html" id="role-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="openWindow">
				<i class="layui-icon layui-icon-add-1"></i>
				新增
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				删除
			</button>
		</script>

	<script type="text/html" id="role-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="openWindow"><i class="layui-icon layui-icon-edit"></i></button>
			<button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="power"><i class="layui-icon layui-icon-vercode"></i></button>
			<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>

	<script type="text/html" id="role-enable">
			<input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="role-enable"  {{ d.enable== true ? 'checked' : '' }} />
		</script>

	<script src="../../component/layui/layui.js"></script>
	<script src="../../component/pear/pear.js"></script>
	<script>
		layui.use(['table', 'form', 'jquery'], function () {
			let table = layui.table;
			let form = layui.form;
			var $ = jQuery = layui.jquery;
			var transfer = layui.transfer;
			let tree = layui.tree;


			let cols = [
				[
					{ type: 'checkbox' },
					{ title: '角色名角色名角色名角色名角色名角色名', field: 'roleName', align: 'center', width: 100 },
					{ title: 'Key值角色名角色名角色名角色名角色名', field: 'roleCode', align: 'center' },
					{ title: '描述', field: 'details', align: 'center' },
					{ title: '是否可用', field: 'enable', align: 'center', templet: '#role-enable' },
					{ title: '操作', toolbar: '#role-bar', align: 'center', width: 195 }
				]
			]

			table.render({
				elem: '#role-business-table',
				url: '../../admin/data/role.json',
				page: true,
				cols: cols,
				skin: 'line',
				toolbar: '#role-toolbar',
				defaultToolbar: [{
					title: '刷新',
					layEvent: 'refresh',
					icon: 'layui-icon-refresh',
				}, 'filter', 'print', 'exports']
			});

			table.on('tool(role-business-table)', function (obj) {
				if (obj.event === 'remove') {
					window.remove(obj);
				} else if (obj.event === 'edit') {
					window.edit(obj);
				} else if (obj.event === 'power') {
					window.power(obj);
				} else if (obj.event === 'openWindow') {
					window.openWindow();
				}
			});

			table.on('toolbar(role-business-table)', function (obj) {
				if (obj.event === 'add') {
					window.add();
				} else if (obj.event === 'refresh') {
					window.refresh();
				} else if (obj.event === 'batchRemove') {
					window.batchRemove(obj);
				} else if (obj.event === 'openWindow') {
					window.openWindow();
				}
			});

			form.on('submit(role-query)', function (data) {
				table.reload('role-business-table', { where: data.field })
				return false;
			});

			form.on('switch(role-enable)', function (obj) {
				layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
			});

			window.add = function () {
				layer.open({
					type: 2,
					title: '新增',
					shade: 0.1,
					area: ['500px', '400px'],
					content: MODULE_PATH + 'add.html'
				});
			}

			window.power = function (obj) {
				// CoreUtil.sendGet(ctx + "sys/user/roles/" + data.id, null, function (res) {
				// initTransfer(res.data);
				initTransfer();
				layer.open({
					type: 1,
					offset: '50px',
					title: "赋予角色",
					area: ['500px', '400px'],
					shade: 0,
					shadeClose: false,
					content: jQuery("#roles"),
					btn: ['确定', '取消'],
					yes: function (index) {
						//获得右侧数据
						var roleIds = [];
						var getData = transfer.getData('ownData');
						if (getData.length == 0) {
							layer.msg("请选择要赋予用户的角色");
						} else {

							$(getData).each(function (index, item) {
								roleIds.push(item.value);
							});
						}
						// CoreUtil.sendPut(ctx + "sys/user/setRoles", { userId: data.id, roleIds: roleIds }, function (res) {
						// 	layer.msg(res.msg);
						// 	search()
						// });

						layer.close(index);
					}
				});
				// });
			}

			window.edit = function (obj) {
				layer.open({
					type: 2,
					title: '修改',
					shade: 0.1,
					area: ['500px', '400px'],
					content: MODULE_PATH + 'edit.html'
				});
			}

			var initTransfer = function () {
				// 定义假数据
				var mockData = [
					{ id: 1, name: '管理员' },
					{ id: 2, name: '编辑者' },
					{ id: 3, name: '查看者' },
					{ id: 4, name: '用户' },
					{ id: 5, name: '访客' }
				];

				// 定义用户已有的角色假数据（以 ID 表示）
				var mockOwnRoles = [2, 3]; // 用户已经拥有 '编辑者' 和 '查看者' 角色

				transfer.render({
					elem: '#roles',
					data: mockData, // 使用假数据
					title: ['赋予角色', '拥有角色'],
					showSearch: true,
					value: mockOwnRoles, // 使用已有角色的假数据
					id: 'ownData',
					parseData: function (res) {
						return {
							"value": res.id, // 数据值
							"title": res.name // 数据标题
						}
					}
				});
			};

			window.remove = function (obj) {
				layer.confirm('确定要删除该角色', { icon: 3, title: '提示' }, function (index) {
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						url: MODULE_PATH + "remove/" + obj.data['roleId'],
						dataType: 'json',
						type: 'delete',
						success: function (result) {
							layer.close(loading);
							if (result.success) {
								layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
									obj.del();
								});
							} else {
								layer.msg(result.msg, { icon: 2, time: 1000 });
							}
						}
					})
				});
			}

			window.batchRemove = function (obj) {
				let data = table.checkStatus(obj.config.id).data;
				if (data.length === 0) {
					layer.msg("未选中数据", { icon: 3, time: 1000 });
					return false;
				}
				let ids = "";
				for (let i = 0; i < data.length; i++) {
					ids += data[i].roleId + ",";
				}
				ids = ids.substr(0, ids.length - 1);
				layer.confirm('确定要删除这些用户', { icon: 3, title: '提示' }, function (index) {
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						url: MODULE_PATH + "batchRemove/" + ids,
						dataType: 'json',
						type: 'delete',
						success: function (result) {
							layer.close(loading);
							if (result.success) {
								layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
									table.reload('role-business-table');
								});
							} else {
								layer.msg(result.msg, { icon: 2, time: 1000 });
							}
						}
					})
				});
			}

			window.refresh = function () {
				table.reload('role-business-table');
			}

			// 模态框
			window.openWindow = function () {
				loadPermissionTree();
				$("#openWindow_userid").val($("#user").val());
				$("#openWindow_goodsid").val("");
				$("#num").val("");
				$("#remark").val("");
				form.render()
				layer.open({
					type: 1,
					skin: 'layui-layer-demo', //样式类名
					title: "模态框样式",
					shadeClose: true, //开启遮罩关闭
					shade: 0.6, //遮罩透明度
					area: ['80%', '80%'],
					maxmin: true, //允许全屏最小化
					anim: 1, //0-6的动画形式，-1不开启
					content: $('#openWindowPage'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
					cancel: function () {
					}
				});
			}

			var loadPermissionTree = function () {
				tree.render({
					elem: '#permissionTree',
					data: [
						{
							title: '系统管理',  // 节点名称
							id: 1,  // 节点ID
							children: [  // 子节点
								{
									title: '用户管理',
									id: 11,
									children: [
										{ title: '添加用户', id: 111 },
										{ title: '删除用户', id: 112 },
										{ title: '修改用户', id: 113 }
									]
								},
								{
									title: '角色管理',
									id: 12,
									children: [
										{ title: '添加角色', id: 121 },
										{ title: '删除角色', id: 122 },
										{ title: '修改角色', id: 123 }
									]
								}
							]
						},
						{
							title: '内容管理',
							id: 2,
							children: [
								{
									title: '文章管理',
									id: 21,
									children: [
										{ title: '添加文章', id: 211 },
										{ title: '删除文章', id: 212 },
										{ title: '修改文章', id: 213 }
									]
								},
								{
									title: '分类管理',
									id: 22,
									children: [
										{ title: '添加分类', id: 221 },
										{ title: '删除分类', id: 222 },
										{ title: '修改分类', id: 223 }
									]
								}
							]
						}
					],
					onlyIconControl: true,  //是否仅允许节点左侧图标控制展开收缩
					showCheckbox: true,  //是否显示复选框
					id: 'permissionIds',
					accordion: false,
					click: function (obj) {
						selectNode = obj;
						layer.msg(JSON.stringify(selectNode.data.title));
					}
				});
			};
		})
	</script>
	<div id="roles" class="demo-transfer" style="display: none"></div>
</body>
<!-- 模态框ui -->
<div class="layui-card operation2" id="openWindowPage" hidden> <!-- 使用 layui-card -->
	<div class="layui-card-body">
		<div class="layui-row layui-col-space10" style="padding: 10px;">
			<!-- ID 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">ID</label>
				<div class="layui-input-inline">
					<input type="text" name="keyword" placeholder="" class="layui-input">
				</div>
				<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="power-query">
					<i class="layui-icon layui-icon-search"></i> 封号
				</button>
				<button type="reset" class="pear-btn pear-btn-md">
					<i class="layui-icon layui-icon-refresh"></i> 解封
				</button>
			</div>
			<!-- 充值状态 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">充值状态</label>
				<div class="layui-input-inline">
					<input type="text" name="keyword" placeholder="" class="layui-input">
				</div>
				<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="power-query">
					<i class="layui-icon layui-icon-search"></i> 限制
				</button>
				<button type="reset" class="pear-btn pear-btn-md">
					<i class="layui-icon layui-icon-refresh"></i> 解除
				</button>
			</div>
			<!-- 锁定到期时间 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">锁定到期时间</label>
				<div class="layui-input-inline">
					<input type="text" name="keyword" placeholder="" class="layui-input">
				</div>
			</div>
			<!-- 赠送道具 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">赠送道具</label>
				<div class="layui-input-inline">
					<button class="pear-btn pear-btn-md pear-btn-primary" lay-event="giveAwayProps"
						id="giveAwayProps">按钮</button>
				</div>
			</div>
			<!-- 下拉框 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">下拉框</label>
				<div class="layui-form layui-card-body">
					<div style="margin-top: -25px;">
						<div class="layui-input-inline ">
							<select name="city" lay-verify="">
								<option value="">请选择一个城市</option>
								<option value="010">北京</option>
								<option value="021">上海</option>
								<option value="0571">杭州</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- 单选框 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">性别</label>
				<div class="layui-form layui-card-body">
					<div style="margin-top: -25px;">
						<input type="radio" name="sex" value="nan" title="男">
						<input type="radio" name="sex" value="nv" title="女" checked>
						<input type="radio" name="sex" value="" title="中性" disabled>
					</div>
				</div>
			</div>
			<!-- 权限tree -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">请选择权限</label>
				<div class="layui-form layui-card-body layui-input-block" style="margin-top: -25px;">
					<div class="layui-tree">
						<div id="permissionTree"></div>
					</div>
				</div>
			</div>
			
		</div>

		<!-- 保存和提交按钮 -->
		<div class="layui-row layui-col-space10" style="padding: 10px;">
			<div class="layui-col-md12" style="text-align: right;">
				<button type="button" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit lay-filter="user-save">
					<i class="layui-icon layui-icon-ok"></i> 提交
				</button>
				<button type="button" class="pear-btn pear-btn-sm" lay-submit lay-filter="user-save">
					<i class="layui-icon layui-icon-refresh"></i> 重制
				</button>
			</div>
		</div>
	</div>
</div>

</html>