<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>用户管理</title>
	<link rel="stylesheet" href="../../component/pear/css/pear.css" />
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/layui@2.7.6/layui.js"></script>
</head>

<body class="pear-container">
	<div class="layui-card" id="search-toolbar">
		<div class="layui-card-body">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-inline layui-form">
						<div class="layui-input-inline">
							<input type="text" name="realName" placeholder="用户名" class="layui-input">
						</div>
						<div class="layui-input-inline">
							<input type="text" name="realName" placeholder="性别" class="layui-input">
						</div>
					</div>
					<div class="layui-inline layui-form">
						<div class="layui-input-inline ">
							<select name="city" lay-verify="">
								<option value="">请选择一个城市</option>
								<option value="010">北京</option>
								<option value="021">上海</option>
								<option value="0571">杭州</option>
							</select>
						</div>
					</div>

					<div class="layui-inline layui-form" id="ID-laydate-rangeLinked">
						<div class="layui-input-inline">
							<input type="text" autocomplete="off" id="ID-laydate-start-date-1" class="layui-input"
								placeholder="开始日期">
						</div>
						<div class="layui-form-mid">-</div>
						<div class="layui-input-inline">
							<input type="text" autocomplete="off" id="ID-laydate-end-date-1" class="layui-input"
								placeholder="结束日期">
						</div>
					</div>

					<div class="layui-inline">
						<div class="layui-inline layui-form">
							<div class="layui-input-inline">
								<input type="text" id="depositAmountStart" class="layui-input" autocomplete="off"
									placeholder="充值金额区间">
							</div>
							<div class="layui-form-mid">-</div>
							<div class="layui-input-inline">
								<input type=text id="depositAmountEnd" class="layui-input" autocomplete="off"
									placeholder="充值金额区间">
							</div>
						</div>
						<div class="layui-inline layui-form">
							<div class="layui-input-inline">
								<input type="text" id="depositAmountStart" class="layui-input" autocomplete="off"
									placeholder="充值金额区间">
							</div>
							<div class="layui-form-mid">-</div>
							<div class="layui-input-inline">
								<input type=text id="depositAmountEnd" class="layui-input" autocomplete="off"
									placeholder="充值金额区间">
							</div>
						</div>
						<div class="layui-inline layui-form">
							<div class="layui-input-inline">
								<input type="text" id="depositAmountStart" class="layui-input" autocomplete="off"
									placeholder="充值金额区间">
							</div>
							<div class="layui-form-mid">-</div>
							<div class="layui-input-inline">
								<input type=text id="depositAmountEnd" class="layui-input" autocomplete="off"
									placeholder="充值金额区间">
							</div>
						</div>
					</div>

					<div class="layui-form-item layui-inline layui-form">
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
							<i class="layui-icon layui-icon-search"></i>
							查询
						</button>
						<button type="reset" class="pear-btn pear-btn-md">
							<i class="layui-icon layui-icon-refresh"></i>
							全部导出
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="layui-card">
		<div class="layui-card-body">
			<table id="user-table" lay-filter="user-table"></table>
		</div>
	</div>

	<script type="text/html" id="user-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="openWindow">
		        <i class="layui-icon layui-icon-add-1"></i>
		        新增
		    </button>
		    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
		        <i class="layui-icon layui-icon-delete"></i>
		        删除
		    </button>
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="info">
		        <i class="layui-icon layui-icon-note"></i>
		        详细规则
		    </button>
		</script>

	<script type="text/html" id="user-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="openWindow"><i class="layui-icon layui-icon-edit"></i></button>
		    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>

	<script type="text/html" id="user-enable">
			<input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="user-enable" {{ d.enable== true ? 'checked' : '' }} />
		</script>

	<script type="text/html" id="user-sex">
			{{#if (d.sex == 1) { }}
		    <span>男</span>
		    {{# }else if(d.sex == 2){ }}
		    <span>女</span>
		    {{# } }}
		</script>

	<script type="text/html" id="user-login">
			{{#if (d.login == 0) { }}
		    <span>在线</span>
		    {{# }else if(d.sex == 1){ }}
		    <span>离线</span>
		    {{# } }}
		</script>

	<script type="text/html" id="user-createTime">
			{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
		</script>

	<script src="../../component/layui/layui.js"></script>
	<script src="../../component/pear/pear.js"></script>
	<script>
		layui.use(['table', 'form', 'jquery', 'common'], function () {
			let table = layui.table;
			let form = layui.form;
			let $ = layui.jquery;
			let common = layui.common;

			let MODULE_PATH = "operate/";

			let cols = [
				[{
					type: 'checkbox'
				},
				{
					title: '账号',
					field: 'username',
					align: 'center',
					width: 100
				},
				{
					title: '姓名',
					field: 'realName',
					align: 'center'
				},
				{
					title: '性别',
					field: 'sex',
					align: 'center',
					width: 80,
					templet: '#user-sex'
				},
				{
					title: '电话',
					field: 'phone',
					align: 'center'
				},
				{
					title: '启用',
					field: 'enable',
					align: 'center',
					templet: '#user-enable'
				},
				{
					title: '登录',
					field: 'login',
					align: 'center',
					templet: '#user-login'
				},
				{
					title: '注册',
					field: 'createTime',
					align: 'center',
					templet: '#user-createTime'
				},
				{
					title: '操作',
					toolbar: '#user-bar',
					align: 'center',
					width: 130
				}
				]
			]

			table.render({
				elem: '#user-table',
				url: '../../admin/data/user.json',
				page: true,
				cols: cols,
				skin: 'line',
				toolbar: '#user-toolbar',
				defaultToolbar: [{
					title: '刷新',
					layEvent: 'refresh',
					icon: 'layui-icon-refresh',
				}, 'filter', 'print', 'exports']
			});

			table.on('tool(user-table)', function (obj) {
				if (obj.event === 'remove') {
					window.remove(obj);
				} else if (obj.event === 'edit') {
					window.edit(obj);
				} else if (obj.event === 'openWindow') {
					window.openWindow();
				}
			});

			table.on('toolbar(user-table)', function (obj) {
				if (obj.event === 'add') {
					window.add();
				} else if (obj.event === 'refresh') {
					window.refresh();
				} else if (obj.event === 'batchRemove') {
					window.batchRemove(obj);
				} else if (obj.event === 'info') {
					window.info();
				} else if (obj.event === 'openWindow') {
					window.openWindow();
				}
			});

			form.on('submit(user-query)', function (data) {
				table.reload('user-table', {
					where: data.field
				});
				return false;
			});



			form.on('switch(user-enable)', function (obj) {
				layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
			});

			window.openWindow = function () {
				$("#openWindow_userid").val($("#user").val());
				$("#openWindow_goodsid").val("");
				$("#num").val("");
				$("#remark").val("");
				form.render()
				layer.open({
					type: 1,
					skin: 'layui-layer-demo', //样式类名
					title: "模态框样式",
					shadeClose: true, //开启遮罩关闭
					shade: 0.6, //遮罩透明度
					area: 'auto',
					maxmin: true, //允许全屏最小化
					anim: 1, //0-6的动画形式，-1不开启
					content: $('#openWindowPage'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
					cancel: function () {
					}
				});
			}

			window.add = function () {
				layer.open({
					type: 2,
					title: '新增',
					shade: 0.1,
					area: [common.isModile() ? '100%' : '500px', common.isModile() ? '100%' : '400px'],
					content: MODULE_PATH + 'add.html'
				});
			}

			window.info = function () {
				form.render()
				layer.open({
					type: 1,
					skin: 'layui-layer-demo', //样式类名
					title: "详细信息",
					shadeClose: true, //开启遮罩关闭
					shade: 0.6, //遮罩透明度
					area: ['500px','500px'],
					maxmin: true, //允许全屏最小化
					anim: 1, //0-6的动画形式，-1不开启
					content: $('#infoPage'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
					cancel: function () {
					}
				});
			}
			
			window.edit = function (obj) {
				layer.open({
					type: 2,
					title: '修改',
					shade: 0.1,
					area: ['500px', '400px'],
					content: MODULE_PATH + 'edit.html'
				});
			}

			window.remove = function (obj) {
				layer.confirm('确定要删除该用户', {
					icon: 3,
					title: '提示'
				}, function (index) {
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						url: MODULE_PATH + "remove/" + obj.data['userId'],
						dataType: 'json',
						type: 'delete',
						success: function (result) {
							layer.close(loading);
							if (result.success) {
								layer.msg(result.msg, {
									icon: 1,
									time: 1000
								}, function () {
									obj.del();
								});
							} else {
								layer.msg(result.msg, {
									icon: 2,
									time: 1000
								});
							}
						}
					})
				});
			}

			window.batchRemove = function (obj) {

				var checkIds = common.checkField(obj, 'userId');

				if (checkIds === "") {
					layer.msg("未选中数据", {
						icon: 3,
						time: 1000
					});
					return false;
				}

				layer.confirm('确定要删除这些用户', {
					icon: 3,
					title: '提示'
				}, function (index) {
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						url: MODULE_PATH + "batchRemove/" + ids,
						dataType: 'json',
						type: 'delete',
						success: function (result) {
							layer.close(loading);
							if (result.success) {
								layer.msg(result.msg, {
									icon: 1,
									time: 1000
								}, function () {
									table.reload('user-table');
								});
							} else {
								layer.msg(result.msg, {
									icon: 2,
									time: 1000
								});
							}
						}
					})
				});
			}

			window.refresh = function (param) {
				table.reload('user-table');
			}
		});

		layui.use(function () {
			var laydate = layui.laydate;
			// 日期范围 - 左右面板独立选择模式
			laydate.render({
				elem: '#ID-laydate-range',
				range: ['#ID-laydate-start-date', '#ID-laydate-end-date']
			});
			// 日期范围 - 左右面板联动选择模式
			laydate.render({
				elem: '#ID-laydate-rangeLinked',
				range: ['#ID-laydate-start-date-1', '#ID-laydate-end-date-1'],
				rangeLinked: true // 开启日期范围选择时的区间联动标注模式 ---  2.8+ 新增
			});

			// 年范围
			laydate.render({
				elem: '#ID-laydate-range-year',
				type: 'year',
				range: true
			});

			// 年月范围
			laydate.render({
				elem: '#ID-laydate-range-month',
				type: 'month',
				range: true
			});

			// 时间范围
			laydate.render({
				elem: '#ID-laydate-range-time',
				type: 'time',
				range: true
			});

			// 日期时间范围
			laydate.render({
				elem: '#ID-laydate-range-datetime',
				type: 'datetime',
				range: true
			});
		});
	</script>
</body>
<!-- 模态框ui -->
<div class="layui-card operation2" id="openWindowPage" hidden> 
	<div class="layui-card-body">
		<div class="layui-row layui-col-space10" style="padding: 10px;">
			<!-- ID 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">ID</label>
				<div class="layui-input-inline">
					<input type="text" name="keyword" placeholder="" class="layui-input">
				</div>
				<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="power-query">
					<i class="layui-icon layui-icon-search"></i> 封号
				</button>
				<button type="reset" class="pear-btn pear-btn-md">
					<i class="layui-icon layui-icon-refresh"></i> 解封
				</button>
			</div>
			<!-- 充值状态 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">充值状态</label>
				<div class="layui-input-inline">
					<input type="text" name="keyword" placeholder="" class="layui-input">
				</div>
				<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="power-query">
					<i class="layui-icon layui-icon-search"></i> 限制
				</button>
				<button type="reset" class="pear-btn pear-btn-md">
					<i class="layui-icon layui-icon-refresh"></i> 解除
				</button>
			</div>
			<!-- 锁定到期时间 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">锁定到期时间</label>
				<div class="layui-input-inline">
					<input type="text" name="keyword" placeholder="" class="layui-input">
				</div>
			</div>
			<!-- 赠送道具 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">赠送道具</label>
				<div class="layui-input-inline">
					<button class="pear-btn pear-btn-md pear-btn-primary" lay-event="giveAwayProps"
						id="giveAwayProps">按钮</button>
				</div>
			</div>
			<!-- 下拉框 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">下拉框</label>
				<div class="layui-form layui-card-body">
					<div style="margin-top: -25px;">
						<div class="layui-input-inline ">
							<select name="city" lay-verify="">
								<option value="">请选择一个城市</option>
								<option value="010">北京</option>
								<option value="021">上海</option>
								<option value="0571">杭州</option>
							</select>
						</div>
					</div>
				</div>
			</div>
            <!-- 单选框 表单项 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">性别</label>
				<div class="layui-form layui-card-body">
					<div style="margin-top: -25px;">
						<input type="radio" name="sex" value="nan" title="男">
						<input type="radio" name="sex" value="nv" title="女" checked>
						<input type="radio" name="sex" value="" title="中性" disabled>
					</div>
				</div>
			</div>
		</div>

		<!-- 保存和提交按钮 -->
		<div class="layui-row layui-col-space10" style="padding: 10px;">
			<div class="layui-col-md12" style="text-align: right;">
				<button type="button" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit lay-filter="user-save">
					<i class="layui-icon layui-icon-ok"></i> 提交
				</button>
				<button type="button" class="pear-btn pear-btn-sm" lay-submit lay-filter="user-save">
					<i class="layui-icon layui-icon-refresh"></i> 重制
				</button>
			</div>
		</div>
	</div>
</div>

<!-- 模态框ui纯文本 -->
<div class="layui-card operation2" id="infoPage" hidden> 
	<div class="layui-card-body">
		<div class="layui-text" style="padding: 16px;">
			<h1>标题1</h1>
			<h2>标题2</h2>
			<h3>标题3</h3>
			<h4>标题4</h4>
			<h5>标题5</h5>
			<h6>标题6</h6>
			
			<hr>
			<ul>
			  <li>列表1</li>
			  <li>
				列表2
				<ul>
				  <li>列表2-1</li>
				  <li>列表2-2</li>
				  <li>列表2-3</li>
				</ul>
			  </li>
			  <li>列表3</li>
			</ul>
			<hr>
			<ol>
			  <li>列表1</li>
			  <li>列表2</li>
			  <li>列表3</li>
			</ol>
			<hr>
			<h2>标题2</h2>
			<p>段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1段落1</p>
			<p>段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2段落2</p>
			<blockquote>引用</blockquote>
			<p>这是一个包含<a href="javascript:;">超文本</a>和<strong>加粗文本</strong>的段落</p>
		  </div>	
		</div>
</div>
</html>